<header>
    <div>
        {{ caption }}<br>
        <small>{{ distance }} km entfernt</small>
        <br>
        <small><a href="{{ weblink }}" target="_blank">{{ weblink }}</a></small>
    </div>
</header>

<section>
    <div>
        <div class="panel panel-default bordered">
            <div class="panel-heading">Dieses Bier kannst du hier geniessen:</div>

            <img class="img-loading-dots" src="images/loading.gif" alt="Lade bekannte Biere..."
                 ng-show="beers.length == 0">

            <ul class="list-group" ng-show="beers.length > 0">
                <li class="list-group-item" ng-repeat="beer in beers"> {{ beer.brand }} - {{ beer.type }}</li>
            </ul>

        </div>

        <div class="panel panel-default bordered">

            <div class="panel-heading">
                Was die anderen darüber denken:
            </div>

            <img class="img-loading-dots" src="images/loading.gif" alt="Lade Posts" ng-show="posts.length == 0">

            <div class="list-group-item text-left container-fluid" ng-repeat="post in posts">
                <header class="row">
                    <h4 class="col-xs-12">
                        <span class="text-left h4">{{ post.username }}</span>
                        <small>{{ post.beer }}</small>
                    </h4>
                </header>

                <section class="row" ng-show="post.description">
                    <p class="col-xs-12">{{ post.description }}</p>
                </section>

                <footer class="row">

                    <span class="col-xs-3 text-left"><i class="fa fa-beer"></i>:  {{ post.rating }}</span>
                    <span class="col-xs-6 text-center">{{ post.date | date:'yyyy-MM-dd HH:mm' }}</span>
                    <span class="col-xs-3 text-right">{{ post.price | currency:'':2 }} €</span>

                </footer>
            </div>
        </div>

    </div>
</section>
