<header>
    <div>
        {{ caption }}
    </div>
</header>

<section>
    <div class="text-left my-panel">
        <form name="loginForm" novalidate ng-submit="login()">

            <div class="form-group " show-errors>
                <label for="username">Benutzername:</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Dein Name"
                       ng-model="username" required>

                <div class="help-block">Deinen Namen musst du mir schon verraten.</div>
            </div>

            <div class="form-group " show-errors>
                <label for="password">Passwort:</label>
                <input name="password" id="password" class="form-control" placeholder="Dein Passwort" type="PASSWORD"
                       ng-model="password" required/>

                <div class="help-block">Ohne Passwort könnte ja jeder behaupten, dass er du ist</div>
            </div>

            <div class="form-group ">
                <input type="submit" value="Lass mich rein" class="btn btn-default form-control"/>
            </div>

            <div class="form-group" ng-show="errorMessage">
                <div class="alert alert-danger"> {{ errorMessage }}</div>
            </div>

        </form>
    </div>
</section>

<footer>
    <div>
        <div class="form-group text-center bordered">
            <a class="btn btn-default form-control" ng-click="register()">Nein, mich kennst du noch nicht</a>
        </div>
    </div>
</footer>
