<header>
    <div>
        {{ caption }}
    </div>
</header>

<section>
    <div class="my-panel text-left">
        <form name="registerForm" novalidate ng-submit="register()">

            <div class="form-group" show-errors>
                <label for="username">Benutzername:</label>
                <input id="username" name="username" type="text" class="form-control" ng-model="username" required/>
                <p class="help-block">Einen Namen brauch ich schon!</p>
            </div>

            <div class="form-group" show-errors>
                <label for="email">E-Mail:</label>
                <input id="email" name="email" type="email" class="form-control" ng-model="email" required/>
                <p class="help-block">Deinen E-mail Adresse brauch ich auch.</p>
            </div>

            <div class="form-group" show-errors>
                <label for="password">Passwort:</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="password" required/>
                <p class="help-block">Ohne Passwort kann ja jeder behaupten, dass er du ist.</p>
            </div>

            <div>
                <input type="submit" value="Registrieren" class="form-control btn btn-default">
            </div>

        </form>
    </div>
</section>

<footer>
    <div>

    </div>
</footer>

