<div>
    <h1>{{ caption }}</h1>
    <p>Bar: {{ ctrl.posting.bar.name }}</p>
    <p>Beer: {{ ctrl.posting.beer.brand }} {{ ctrl.posting.beer.type }}</p>

    <form novalidate>

        <div class="form-group">
            <label for="remark">Anmerkung:</label>
            <textarea id="remark" class="form-control" placeholder="Dein Senf" ng-model="remark"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Preis:</label>
            <input id="price" type="number" class="form-control" ng-model="ctrl.posting.price"/>
        </div>

        <div class=form-group>
            <label for="ranking">Bewertung:</label>
            <rating id="ranking" ng-model="ctrl.posting.rating" max="5" state-on="'rating-enable'" state-off="'rating-disable'" class="rating"></rating>
        </div>

        <div>
            <input type="submit" value="Fertisch!" ng-click="sentPost()" class="form-control"/>
        </div>

    </form>
</div>