<header>
    <div>
        {{ caption }}
    </div>
</header>

<section>
    <div>
        <!-- Before beers are loaded -->
        <div class="my-panel" ng-show="beers == null">
            <p>Dieses Lokal ist mir wohlbekannt.</p>

            <p>Lass mich kurz überlegen, was meine Bekannten hier genossen haben...</p>
        </div>

        <!-- After beers are loaded -->

        <div class="panel panel-default bordered" ng-show="beers != null">
            <div class="panel-heading">Hat dieses Bier deinen Durscht gelöscht?</div>

            <ul class="list-group" ng-show="beers != null">
                <a class="list-group-item" ng-repeat="beer in beers" ng-click="setBeer(beer)">
                    {{ beer.brand }} - {{ beer.type }}
                </a>
            </ul>
        </div>
    </div>
</section>

<footer>
    <div>
        <div class="list-group bordered" ng-show="beers != null">
            <a class="list-group-item" ng-click="createBeer()">{{ createBeerText }}</a>
        </div>
    </div>
</footer>