<header>
    <div>
        {{ caption }}
    </div>
</header>

<section>
    <div>
        <div class="list-group" ng-show="bars != null">
            <a class="list-group-item" ng-repeat="bar in bars" ng-click="setBar(bar)">
                {{bar.name}}
                <small>({{bar.distance.toFixed(2)}} km)</small>
            </a>
        </div>
    </div>
</section>

<footer>
    <div>
        <div class="list-group" ng-show="bars != null">
            <a class="list-group-item" ng-click="createBar()">{{ createBarText }}</a>
        </div>
    </div>
</footer>
