.gitignore
*.classpath
.idea/
out/

durscht.contracts/durscht.contracts.iml
durscht.contracts/META-INF/
durscht.contracts/doc/

durscht.core/doc/
durscht.core/durscht.core.iml

durscht.data/durscht.data.iml

durscht.ui.web/.idea/
durscht.ui.web/.settings/

durscht.ui.client/.idea/
durscht.ui.client/bower_components/
durscht.ui.client/node_modules/
durscht.ui.client/dist/
durscht.ui.client/.tmp/

