@(posts: List[controllers.mock.Post])
<!DOCTYPE html>


<html>
  <head>
    <title>Post Menü</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body class="container">
    <h1 class="text-center">Post Menü
      <div>
        <a class="btn btn-default" href="/user/login"> Zurück zum Durscht Menü</a>
      </div>
    </h1>
        <div>
            <table class="table">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
                <tr>
                  <td>New Post</td>
                  <td> <input type="text" name="name" class="form-control" id="name">
                  </td>
                  <td> <input type="text" name="price" class="form-control" id="price">
                  </td>
                  <td> <a class="btn btn-default" href=@("/bars/create" )> neuer Post</a></td>
                </tr>
                <tbody>
                @for(post <- posts){
                  <tr>
                    <td>@post.getId</td>
                    <td>@post.getUsername</td>
                    <td>@post.getPrice</td>
                    <td>  <a class="btn btn-default" href=@("/posts/delete/" + post.getId)> löschen</a>
                    </td>
                  </tr>
                }
                </tbody>
            </table>
        </div>
    <section id="scripts">
		</section>
  </body>
</html>