<!DOCTYPE html>


<html>
  <head>
    <title>Bar Menü</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body class="container">
    <h1 class="text-center">Bar Menü
      <div>
        <a class="btn btn-default" href="/user/login"> Zurück zum Durscht Menü</a>
      </div>
    </h1>

    <section id="scripts">
		</section>
  </body>
</html>