<!DOCTYPE html>


<html>
  <head>
    <title>Post Menü</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body class="container">

    <h1 class="text-center">Post Menü</h1>

    <div class="text-center">

      <div class="col-xs-12 text-center">
        <div class="btn-group-vertical">
          <a class='btn btn-default btn-lg btn-block' href="">Post ändern</a>
        </div>
      </div>

    </div>

    <section id="scripts">
		</section>
  </body>
</html>