@(users: Array[controllers.mock.User])
<!DOCTYPE html>


<html>
  <head>
    <title>User Menu</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body class="container">

    <h1 class="text-center">User Menu
      <div>
        <a class="btn btn-default" href="/admin/login"> Back to Durscht Menu</a>
      </div>
    </h1>
    <div>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Joined Date</th>
          <th></th>
        </tr>
        <tbody>
        @for(user <- users){
          <tr>
            <td>@user.getId</td>
            <td>@user.getName</td>
            <td>@user.getEmail</td>
            <td>@user.getJoinedDate</td>
            <td>  <a class="btn btn-default" href=@("/users/delete/" + user.getId)> delete</a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
    <section id="scripts">
		</section>
  </body>
</html>