<!DOCTYPE html>

<html ng-app="durscht-core">
	<head>
		<title>{{main.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/assets/client/css/bootstrap.css"/>
		<link rel="stylesheet" href="/assets/client/css/main.css"/>
		
	</head>
	<body class="container">
	
		<div ng-view></div>

	<section id="scripts">
		<script type="text/javascript" src="/assets/client/lib/angular.min.js"></script>
		<script type="text/javascript" src="/assets/client/lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script type="text/javascript" src="/assets/client/lib/angular-route.min.js"></script>
		<script type="text/javascript" src="/assets/client/controller/durscht.js"></script>	
		
		<script type="text/javascript" src="/assets/client/services/barService.js"></script>
		<script type="text/javascript" src="/assets/client/services/PostingDataService.js"></script>
		
		<script type="text/javascript" src="/assets/client/controller/ShareChooseBarController.js"></script>
		<script type="text/javascript" src="/assets/client/controller/ShareChooseBeerController.js"></script>
		<script type="text/javascript" src="/assets/client/controller/ShareDetailsController.js"></script>
		
	</section>
</body>
</html>
