<!DOCTYPE html>


<html>
    <head>
        <title>Durscht Menu</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

  <body class="container">

    <h1 class="text-center">Durscht Menu

        <div>
            <a class="btn btn-default" href="/"> Logout</a>
        </div>

    </h1>

    <div class="text-center">
        <div class="btn-group-vertical">

            <div class="list-group text-center">
                    <a class="list-group-item" href="/admin/beers">Beers</a>
                    <a class="list-group-item" href="/admin/bars">Bars</a>
                    <a class="list-group-item" href="/admin/posts">Posts</a>
                    <a class="list-group-item" href="/admin/users">Users</a>

            </div>
        </div>

    </div>

      <section id="scripts"></section>
  </body>
</html>