html {
    position: relative;
    min-height: 100%;

    background-image: url('../images/background.jpg');
    //background-size: auto 100%;
//    background-color: lightblue;
}

body {

    font-family: 'Architects Daughter', cursive;
    margin-bottom: 35px;
    background-color: transparent;
}

body > header {
    height: 30px;
    float: right;
    font-size: 1.5em;
    margin-right: 1em;
}

body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;

    text-align: center;

   // background-color: #838383;
    color: #f7edb2;
}

article {
    position: relative;
    text-align: center;
    margin: 0 5%;
    width: 90%;
}

article > header,
article > section {
    width: 100%;
    display: inline-block;
    vertical-align: middle;

}

article > header > div,
article > section > div {
    width: 100%;
    display: inline-block;
    line-height: normal;

}

.vertical-center {
    vertical-align: middle;
}

article > header {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(255,255,255,0.85);
    border-radius: 5px;
    border: solid #745728 medium;
    padding: 0 5%;
    margin-bottom: 15px;
}

article > header > div {
    vertical-align: middle;
}

article > section > div {
    vertical-align: top;
}

article footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Main Layout*/

.ui-select {
    min-width: 100%;
}

.list-group-lg .list-group-item {
    padding: 1em 0;
}

.list-group-item a {
    float: right;
}

.list-group-item small {
    float: right;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    background-color: whitesmoke;
}

.input-group {
    margin-bottom: 15px;
}

.bordered {
    border: solid #745728 medium;
    border-radius: 5px;
}

.my-panel {
    background-color: rgba(255,255,255,0.85);
    border: solid #745728 medium;
    border-radius: 5px;
    padding: 1em;
}