html {
    position: relative;
    min-height: 100%;

    //background-image: url('../images/background.jpg');
    background-color: lightblue;
}

body {
    margin-bottom: 30px;
    background-color: green;
}

article {

}

article header {

}

article footer {

}

body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;


    text-align: center;

    background-color: #838383;
    color: #f7edb2;

}


























/* Main Layout*/

/* Style for rating control */
.rating {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    text-align: center;
}

.rating i {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 450px) {
    .rating i {
        width: 50px;
        height: 50px;
    }
}

.rating-enable {
    background-image: url("../images/beer-full.png");
    background-size: 100% 100%;
}

.rating-disable {
    background-image: url("../images/beer-empty.png");
    background-size: 100% 100%;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}

.ui-select {
    min-width: 100%;
}

.list-group-lg .list-group-item {
    padding: 1em 0;
}

.list-group-item a {
    float: right;
}

.list-group-item small {
    float: right;
}

.list-group {
    border: solid #745728 medium;
    border-radius: 5px;
    margin-bottom: 0;
}

.list-group-item {
    background-color: whitesmoke;
}